ul.messagesList {
    list-style: none;
    margin: 0px;
    font-size: 12px;
}

ul.messagesList li {
    background: #f9f9f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

ul.messagesList li .glyphicons {
    padding: 5px 0 5px 25px;
}

ul.messagesList li .glyphicons i:before {
    font-size: 14px;
    margin: -2px 0px 0px 5px;
    color: #3b3b41;
}

ul.messagesList li:nth-child(odd) {
    background: #fff !important;
}

ul.messagesList li.odd {
    background: #fff !important;
}

ul.messagesList li span.from {
    display: inline-block;
    width: 25%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

ul.messagesList li span.title {
    display: inline-block;
    width: 55%;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

ul.messagesList li span.date {
    display: inline-block;
    width: 20%;
    text-align: right;
}

.message .header {
    margin-bottom: 30px;
}

.message .header h1 {
    background: #67C2EF;
    /* rgba(103, 194, 239, 1); */
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .15);
    margin: -20px -20px 10px -20px;
    padding: 20px;
}

.message .header i {
    margin-top: 1px;
}

.message .header .from {
    display: inline-block;
    width: 70%;
    font-size: 12px;
}

.message .header .date {
    display: inline-block;
    width: 29%;
    text-align: right;
    float: right;
    font-size: 12px;
}

.message .attachments {
    border-top: 3px solid #f9f9f9;
    border-bottom: 3px solid #f9f9f9;
    padding: 10px 0px;
    margin-bottom: 20px;
    font-size: 12px;
}

.message .attachments ul {
    list-style: none;
    margin: 0;
}

.message .attachments ul li {
    margin: 10px 0;
}

.message .attachments ul li span.label {
    font-size: 12px !important;
}

.message .attachments ul li span.quickMenu {
    float: right;
    text-align: right;
}

.message .attachments ul li span.quickMenu .glyphicons {
    padding: 5px 0 5px 25px;
}

.message .attachments ul li span.quickMenu .glyphicons i:before {
    font-size: 14px;
    margin: -2px 0px 0px 5px;
    color: #3b3b41;
}